    {{isLogin}}
    <nav class="nav width">
        <div class="nav-menu">
            
            <ul>
                <li>
                    <a href="index">Home</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="login">Login</a>
                <li>
                <li>
                    <a href="Register">Music</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
    </nav>